<section>
    <form>
        <div class="form-group">
            <label for="Input-nombre">Nombre del Tablero</label>
            <input type="text" class="form-control" ng-model="tnombre" placeholder="Tablero...">
        </div>
        
        <div class="form-group">
            <label for="Input-desc">Descripcion</label>
            <input type="text" class="form-control" ng-model="tdesc" placeholder="Una Descripcion...">
        </div>
        
        <button type="submit" class="btn btn-primary" ng-click="tsubmit()">Submit</button>
    </form>
    
    <div class="alert alert-success" role="alert">
        This is a success alert—check it out!
    </div>
    
</section>