<section>
    <div class="container">
             <ul><span>
                <li class="tablero" ng-repeat="tablero in tableros">
                    <a href="#">
                        <div class="well">
                            <h4 class="alert-heading">{{tablero.nombre}}</h4>
                            <p class="mb-0">{{tablero.desc}}</p>
                        </div> 
                    </a>
                </li>
                 
                 <li class="tablero">
                    <a href="#!agregarTablero">
                        <div class="well">
                            Nuevo Tablero...
                        </div>
                     </a>
                 </li>
                 </span>
            </ul>
    </div>
</section>