
    <div>
        <div class="row">
             <ul class="board">
                <li class="board-item" ng-repeat="tablero in tableros">
                    <a href="#" class="well">
                            <h4 class="alert-heading">{{tablero.nombre}}</h4>
                            <p class="mb-0">{{tablero.desc}}</p> 
                    </a>
                </li>
                 
                 <li class="board-item">
                    <a class="well" href="#!agregarTablero">
                            Nuevo Tablero...
                     </a>
                 </li>
            </ul>
            </div>
   
    </div> 
